.mainContainer {
    min-height: 38vh;
    
}


.blog {
    color: var(--purple-color);
    z-index: 1;
    font-size: 40px;
    position: relative;
    padding: 40px 0px 25px 0px;
    margin: 10px 0px 22px 0px;
    line-height: 20px;
    margin-left: 25px;

}

@media screen and (max-width: 800px) {
    .blog {
        font-size: 25px;
        margin-left: 30px;
          
     }
}