.form {
    flex-direction: column;
}

.name {
  border: 2px solid white;
  border-radius: 5px;
  width: 220px;
  height: 48px;
  margin: 3px;
  background-color: var(--white-color);
  color: var(--black-color);
  text-align: left;
  font-family: sans-serif;
}



.email {
  width: 220px;
  height: 48px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 3px;
  background-color: var(--white-color);
  color:  var(--black-color);
  text-align: left;
  font-family: sans-serif;
}

.message {
  width: 450px;
  height: 100px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 3px;
  background-color: var(--white-color);
  color: var(--black-color);
  text-align: left;
  font-family: sans-serif;
}

.button {
  width: 99%;
  height: 38px;
  margin-left: 5px;
  margin: 3px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid white;
  font-weight: bold;
  color: #331832;
  font-size: 15px;
}

.button:hover {
  background-color: var(--black-color);
  color: white;
  border: black;
}

.button:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}



@media screen and (max-width: 800px) {
    .form {
       display: flex;
       flex-wrap: wrap;
       width: 90%
     }
}

@media screen and (max-width: 800px) {
    .name {
       width: 325px;
     }
}

@media screen and (max-width: 800px) {
    .email {
       width: 325px
     }
}

@media screen and (max-width: 800px) {
    .message {
       width: 320px;
       margin-top: -17px;
     }
}

@media screen and (max-width: 800px) {
    .button {
       width: 330px;
       margin-top: -17px;
     }
}