.mainCoverContainer {
    min-height: 60vh;
}

.portfolio {
    color: var(--white-color);
    z-index: 1;
    font-size: 40px;
    position: relative;
    padding: 25px 0px 20px 0px;
    margin: 10px 0px 22px 0px;
    line-height: 20px;
    margin-left: 25px;
    font-weight: bold;
    transition: all ease-in-out 300ms;
    top: 25px;
}



@media screen and (max-width: 800px) {
    .portfolio {
        font-size: 25px;
        margin-left: 30px;
          
     }
}

.portfolioCont {
  display: grid;
  grid-template-rows: repeat(2, minmax(150px, 300px) 1fr 2fr);
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px
}

.portfolioItem {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
   font-size: 1.5em;
  background-size: cover;
  background-position: top left;
  transition: all ease-in-out 300ms;
  position: relative;
  z-index: 10;
}

.mainContent {
  flex: 1 1 80%;
  min-height: 100vh;
}