.mainCoverContainer {
    min-height: 100vh;
     display: flex;


}

.tabs {
    margin-top: 50px;
}



p {
    color: var(--white-color);
     z-index: 1;
     display: inline;
     font-size: 30px;
     margin-left: 20px;
}

@media screen and (max-width: 800px) {
    p {
          font-size: 20px;
          
     }
}