.mainCoverContainer {
    min-height: 60vh;
     background-color: var(--black-color)


}

.portfolio {
    color: var(--white-color);
    z-index: 1;
    font-size: 40px;
    position: relative;
    padding: 25px 0px 20px 0px;
    margin: 10px 0px 22px 0px;
    line-height: 20px;
    margin-left: 25px;
}

@media screen and (max-width: 800px) {
    .portfolio {
        font-size: 25px;
        margin-left: 30px;
          
     }
}





.filter {
    margin: 0px 0px 20px 0px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: 17px;
}

li {
    color: var(--white-color);
     z-index: 1;
     margin: 0px 5px 0px 0px;
    float: none;
    display: inline-block;
    font-size: 20px;

}


