.mainCoverContainer {
    min-height: 10vh;
     background-color: var(--white-color);
}


.footerText {
     color: rgb(169, 169, 169);
     z-index: 1;
     font-size: 12px;
     
}

.copyright {
     text-align: center;
}




