.mainCoverContainer {
    min-height: 10vh;
     background-color: #111;
}


.footerText {
     color: rgb(169, 169, 169);
     z-index: 1;
     font-size: 15px;
     
}

.copyright {
     text-align: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
  align-items: center;

}


li {
padding: 15px;

}


