 .mainContainer {
  min-height: 50vh;
  background-color: var(--purple-color);
}


.contact {
    color: var(--white-color);
    z-index: 1;
    font-size: 40px;
    position: relative;
    padding: 25px 0px 20px 0px;
    margin: 10px 0px 22px 0px;
    line-height: 20px;
    margin-left: 25px;
}

@media screen and (max-width: 800px) {
    .contact {
        font-size: 25px;
        margin-left: 30px;
          
     }
}

.divider {
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 800px) {
    .divider {
    flex-wrap: wrap;
          
     }
}
