 .mainContainer {
  min-height: 50vh;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
}




h2 {
  color: white;
}

.contact {
  width: 100%;
  height: 100vh;
  background-color: black;
  padding-bottom: 200px;
}

.contactList {
  position: relative;
  font-size: 2.3rem;
  text-align: center;
}

.contactList li a {
  color: #fff;
}

.contactList li {
  position: relative;
  top: 0;
  left: -20px;
  display: inline-block;
  height: 80px;
  width: 80px;
  margin: 10px auto;
  line-height: 70px;
  border-radius: 10%;
  background-color: var(--white-color);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin: 10px;
  border-radius: 50%;
}

.contactList li:hover {
  background-color: var(--black-color);
}

.contactList li:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}

.contactList li:hover a {
  color: var(--black-color);
}

.container {
  flex-direction: column;
}

.name {
  border: 2px solid white;
  border-radius: 5px;
  width: 220px;
  height: 48px;
  margin: 3px;
  background-color: var(--black-color);
  color: white;
  text-align: left;
  font-family: sans-serif;
}



.email {
  width: 220px;
  height: 48px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 3px;
  background-color: var(--black-color);
  color: white;
  text-align: left;
  font-family: sans-serif;
}

.message {
  width: 450px;
  height: 100px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 3px;
  background-color: var(--black-color);
  color: white;
  text-align: left;
  font-family: sans-serif;
}

.button {
  width: 99%;
  height: 38px;
  margin-left: 5px;
  margin: 3px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid white;
  font-weight: bold;
  color: #331832;
  font-size: 15px;
}

.button:hover {
  background-color: var(--purple-color);
  color: white;
  border: black;
}

.button:hover:after {
  opacity: 1;
  transform: scale(1.12);
  transition-timing-function: cubic-bezier(0.37, 0.74, 0.15, 1.65);
}



@keyframes bounce {
  0%,
  100%,
  20%,
  50%,
  80% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}

