

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

.row {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.icons ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (min-width: 800px) {
    .icons ul {
        margin: 30px;
    }
}

@media screen and (max-width: 800px) {
.icons ul li {
    width: 33.333%;
    margin: 5px 0px;
    
}
}

.icons ul li {
text-align: center;
color: black;
}

.image {
    height: 64px;
    width: 64px;
    vertical-align: middle;
    border-style: none;
}