
@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

.paragraph {
    font-family: 'Indie Flower', cursive;
}

.mainCoverContainer {
    min-height: 70vh;
    width: 100%;
    box-sizing: border-box;
}

.header {
    position: relative;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%;
}

.about {
    font-size: 40px;
    position: relative;
    padding: 25px 0px 20px 0px;
    margin: 10px 0px 22px 0px;
    line-height: 20px;
    margin-left: 25px;
}

@media screen and (max-width: 800px){
    .about {
        font-size: 25px;
        margin-left: 30px;
    }
}


.paragraph {
     color: var(--white-color);
     margin-left: 25px;
     font-weight: 200
}

@media screen and (max-width: 800px){
    .paragraph {
        font-size: 20px;
        margin-left: 30px;
        margin-right: 30px;
}
}